@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  object-fit: contain;
}

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  background-color: #f2f2f2;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-container {
  display: flex;
  flex-direction: column;
  width: 1200px;
  min-height: 100%;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.main-page {
  flex-grow: 1;
}

/*Шапка*/

.navigation {
  display: flex;
  padding: 0 70px;
}

.navigation-header-logo {
  margin-right: 28px;
  margin-bottom: -10px;
  z-index: 1;
}

.navigation-header-logo[href]:hover {
  opacity: 80%;
}

.navigation-header-logo[href]:focus {
  opacity: 80%;
}

.navigation-header-logo[href]:active {
  opacity: 50%;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
  max-width: 450px;
  list-style-type: none;
}

.navigation-user-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin: 0;
  margin-left: auto;
  padding: 0;
  max-width: 350px;
  list-style-type: none;
}

.navigation-search {
  background-image: url("../image/search.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.navigation-favorite {
  position: relative;
  background-image: url("../image/favorite.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.navigation-link {
  display: block;
  padding: 20px 16px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  text-decoration: none;
}

.navigation-link:hover {
  background-color: #e5e5e5;
}

.navigation-link:focus {
  background-color: #e5e5e5;
  opacity: 50%;
}

.navigation-link:active {
  background-color: #e5e5e5;
  opacity: 30%;
}

.navigation-link-current {
  position: relative;
}

.navigation-link-current::before {
  position: absolute;
  content: "";
  height: 2px;
  width: calc(100% - 32px);
  bottom: 0;
  background-color: #756257;
  z-index: 1;
}

.navigation-user-link {
  display: block;
  min-width: 44px;
  min-height: 64px;
  padding: 22px 12px;
}

.navigation-user-link:hover {
  opacity: 70%;
}

.navigation-user-link:focus {
  opacity: 50%;
}

.navigation-user-link:active {
  opacity: 30%;
}

.navigation-user-item:nth-child(2) {
  margin-right: 20px;
}

.navigation-user-favorite {
  position: absolute;
  top: 11px;
  left: 18px;
  font-size: 10px;
  line-height: 10px;
  padding: 5px;
  border-radius: 50%;
  color: #ffffff;
  background-color: #7db54f;
  min-width: 20px;
  text-align: center;
}

.button-user-link {
  display: block;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #756157;
  margin: 14px 0;
  padding: 8px 34px;
  border-radius: 4px;
}


/*Главная страница*/
.welcome-sedona {
  position: relative;
  min-height: 485px;
  text-align: center;
  color: #ffffff;
  background-color: #3f5e72;
  background-image: url("../image/background/background-welcom.jpg");
  background-repeat: no-repeat;
}

.welcome-sedona::after {
  position: absolute;
  top: 429px;
  left: 0;
  content: "";
  background-image: url("../image/background/spacebar.svg");
  background-repeat: no-repeat;
  width: 1200px;
  height: 57px;
}

.logo {
  display: block;
  margin: 0 auto;
  padding-top: 51px;
}

/*Преимущества*/
.advantages-header {
  padding: 69px 274px 90px 275px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages-subitem {
  width: 400px;
  padding: 92px 85px 111px;
}

.advantages-item {
  width: 400px;
  text-align: center;
}

.advantages-big {
  display: flex;
  width: 100%;
}

.advantages-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 25px;
}

.advantages-info {
  box-sizing: border-box;
  padding: 103px 85px 121px;
}

.decorative-line::after {
  content: "";
  display: block;
  width: 60px;
  height: 2px;
  margin: 30px auto;
  opacity: 0.3;
}

.advantages-big .decorative-line::after {
  background-color: #ffffff;
}

.advantages-info .decorative-line::after {
  background-color: #333333;
}

.description-title {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
  margin: 0;
}

.advantages-subtitle {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 30px;
  padding: 0 28px;
}

.advantages-description {
  text-align: center;
  margin: 0;
}

.color-one {
  color: #ffffff;
  background-color: #82b3d3;
}

.color-second {
  background-color: rgba(131, 179, 211, 0.12);
}

.color-three {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-service {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.service-item {
  width: 400px;
  padding: 182px 85px 81px;
}

.service-subitem {
  margin: 0;
  margin-bottom: 30px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.service-description-subitem {
  margin: 0;
  text-align: center;
}

.service-icon-house {
  background-image: url("../image/icon/icon-home.svg");
  background-repeat: no-repeat;
  background-position: center 80px;
}

.service-icon-eat {
  background-image: url("../image/icon/icon-eat.svg");
  background-repeat: no-repeat;
  background-position: center 80px;
}

.service-icon-gift {
  background-image: url("../image/icon/icon-gift.svg");
  background-repeat: no-repeat;
  background-position: center 78px;
}

/*Поиск*/
.hotel-search {
  text-align: center;
  padding: 96px 304px;
}

.hotel-search-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;
}

.hotel-search-subitem {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  margin: 0;
  margin-bottom: 54px;
}

.button-search-hotel {
  display: inline-block;
  margin: 0 auto;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #756157;
  padding: 8px 50px;
  border-radius: 4px;
}


/*Подписка*/
.subscribe {
  padding: 96px 258px 104px;
  text-align: center;
}

.subscribe-main {
  color: #ffffff;
  background-color: #000000;
  background-image: url("../image/background/background-subscribe.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.subscribe-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;
}

.subscribe-subitem {
  font-size: 22px;
  line-height: 26px;
  padding: 0 105px;
  margin: 0;
  margin-bottom: 54px;
}

.subscribe-button {
  display: inline-block;
  font: inherit;
  background-color: #82b3d3;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  color: #ffffff;
  max-width: 400px;
  padding: 8px 50px;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

.subscribe-button:hover,
.subscribe-button:focus {
  outline: none;
}

.subscribe-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.subscribe-button:disabled {
  background-color: #e5e5e5;
}

.button-field {
  display: inline-block;
  background-color: #82b3d3;
  max-width: 275px;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

.button-field:hover,
.button-field:focus {
  background-color: #68a2ca;
  outline: none;
}

.button-field:active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}

.button-field:disabled {
  background-color: #e5e5e5;
}

.subscribe-form {
  display: flex;
}

.field {
  font: inherit;
  font-size: 18px;
  line-height: 24px;
  text-align: left;
  text-decoration: none;
  background-color: #ffffff;
  color: rgba(0, 0, 0, 0.6);
  border: none;
  width: 452px;
  border-radius: 4px 0 0 4px;
  padding: 14px 20px;
  margin: 0;
}

.field::placeholder {
  color: #000000;
  opacity: 60%;
}

.field:focus {
  box-shadow: inset 0 0 0 3px #83b3d3;
  outline: none;
}

.field:active {
  box-shadow: inset 0 0 0 2px #3f5e72;
  outline: none;
}

.field-catalog {
  background-color: #f2f2f2;
}

/*Подвал контакты*/
.main-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 40px 70px 30px;
}

.social-footer-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 150px;
  align-self: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.social-footer-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 40px;
  margin: 5px 0;
}

.footer-contact-phone {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  align-self: center;
  margin: 5px 0;
  color: #000000;
}

.social-icon {
  fill: #83b3d3;
}

.contact-icon {
  fill: #000000;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 40px;
}

.social-link:hover .social-icon,
.social-link:focus .social-icon {
  fill: #68a2ca;
}

.social-link:active .social-icon {
  fill: rgba(104, 162, 202, 0.3);
}

.footer-contact:hover .contact-icon,
.footer-contact:focus .contact-icon {
  fill: #756157;
}

.footer-contact:active .contact-icon {
  fill: rgba(117, 97, 87, 0.3);
}

.footer-contact-phone:hover,
.footer-contact-phone:focus {
  color: #756157;
}

.footer-contact-phone:active {
  color: rgba(117, 97, 87, 0.3);
}

/*Каталог, фильтр*/
.main-catalog-title {
  min-height: 412px;
  box-sizing: border-box;
  padding: 35px 70px 70px;
  color: #ffffff;
  background-color: #333333;
  background-image: url("../image/background/background-catalog.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.breadcrumb {
  display: flex;
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
}

.breadcrumb-item {
  list-style-type: none;
}

.breadcrumb-link {
  font-size: 16px;
  color: #ffffff;
  -webkit-text-decoration-line: none;
  text-decoration-line: none;
}

.breadcrumb-link:hover {
  opacity: 0.6;
}

.breadcrumb-link:active {
  opacity: 0.3;
}

.breadcrumb-item:not(:first-child)::before {
  content: url("../image/icon/arrow.svg");
  width: 7px;
  margin: 0;
  margin-right: 5px;
}

.breadcrumb-item:not(:last-child) {
  margin-right: 10px;
}

.catalog-filter {
  display: flex;
  padding: 0;
}

.control {
  position: relative;
  display: block;
  padding-left: 36px;
  cursor: pointer;
}

.control-mark {
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
}

.control-input[type="checkbox"] + .control-mark {
  border-radius: 4px;
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-label {
  line-height: 23px;
}

.control-input:hover ~ span {
  opacity: 0.6;
}

.control-input:focus + .control-mark {
  outline: 3px solid #83b3d3;
}

.control-input:disabled ~ span {
  opacity: 0.3;
}

.control-input[type="checkbox"]:checked + .control-mark {
  background-image: url("../image/icon/сheck.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.control-input[type="radio"]:checked + .control-mark {
  background-image: url("../image/icon/circle.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.catalog-filter-group {
  padding: 0;
  margin: 0;
  border: none;
}

.filter-group-selected {
  min-width: 150px;
  margin-right: 70px;
}

.filter-group-price {
  padding: 0;
  margin: 0;
  margin-left: auto;
  margin-right: 70px;
  border: none;
  min-width: 228px;
}

.catalog-filter-title {
  padding: 0;
  margin-bottom: 32px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-transform: capitalize;
}

.catalog-filter-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 16px;
}

.catalog-button {
  display: flex;
  flex-direction: column;
  width: 191px;
  margin: 0;
  padding: 0;
  padding-top: 56px;
  text-align: center;
}

.catalog-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 8px;
}

.catalog-sorting-price {
  position: relative;
  width: 143px;
}

.catalog-sorting-wrapper {
  width: 288px;
  display: flex;
  gap: 2px;
  margin-bottom: 44px;
}

.filter-cost {
  width: 100%;
  padding: 12px 42px 12px 20px;
  border: none;
  font: inherit;
  font-weight: 700;
  line-height: 24px;
  background-color: #f2f2f2;
  -webkit-appearance: textfield;
  appearance: textfield;
}

.filter-cost:hover {
  background: #e6e6e6;
}

.filter-cost:focus {
  border: 3px solid #83b3d3;
  outline: none;
  padding: 9px 39px 9px 17px;
}

.filter-cost:active {
  border: 2px solid #000000;
  padding: 10px 40px 10px 18px;
}

.range-label {
  position: absolute;
  top: 0;
  right: 0;
  padding: 12px 20px 12px 10px;
  color: rgba(0, 0, 0, 0.3);
}

.filter-cost-min {
  border-radius: 4px 0 0 4px;
}

.filter-cost-max {
  border-radius: 0 4px 4px 0;
}

.range-scale {
  position: relative;
  width: 287px;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #ffffff;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  border: none;
  background-color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
}

.range-toggle:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.range-toggle:focus {
  border: 3px solid #83b3d3;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.range-toggle:active {
  border: 2px solid #83b3d3;
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.4);
}

.toggle-min {
  left: 0;
  top: -8px;
}

.toggle-max {
  right: 0;
  top: -8px;
}

.button-apply {
  font: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #82b3d3;
  margin-bottom: 32px;
  padding: 8px 50px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button-reset {
  font: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  padding: 8px 58px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

/*Карточки гостиниц*/
.catalog-sorting {
  display: flex;
  padding: 49px 70px 40px;
}

.product-card-title {
  width: 338px;
  margin: 0;
  margin-right: 200px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  align-self: center;
}

.select-control {
  font: inherit;
  width: 292px;
  height: 49px;
  padding: 12px 35px 14px 18px;
  color: #333333;
  background-color: #ffffff;
  margin-right: auto;
  background-image: url("../image/icon/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: right 18px center;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  -webkit-appearance: none;
  appearance: none;
}

.select-control:hover,
.select-control:focus {
  border-color: #68a2ca;
  outline: none;
}

.select-control:active {
  border-color: #3f5e72;
  outline: none;
}

.select-control:disabled {
  border-color: rgba(0, 0, 0, 0.3);
  outline: none;
}

.mode-card {
  display: flex;
  flex-wrap: wrap;
  max-width: 160px;
}

.button-layout {
  width: 48px;
  height: 48px;
  box-sizing: border-box;
  padding: 15px 14px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
}

.button-layout:not(:last-child) {
  margin-right: 8px;
  margin-bottom: 4px;
}

.button-layout:nth-child(3n) {
  margin-right: 0;
}

.icon-card {
  display: block;
}

.button-layout:hover {
  border-color: #000000;
}

.button-layout:focus {
  border-color: #68a2ca;
  outline: none;
}

.button-current,
.button-layout:active {
  border-color: #000000;
}

.hotel-card {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  justify-content: center;
  list-style-type: none;
  padding: 0;
  margin: 0 70px;
  gap: 18px 20px;
}

.card {
  padding: 20px;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
}

.hotel-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: left;
  color: #000000;
  padding: 0;
  padding-bottom: 16px;
  margin: 0;
}

.hotel-card-link {
  display: block;
  color: #000000;
  text-decoration: none;
  padding-bottom: 11px;
}

.type-house {
  color: #333333;
  margin: 0;
}

.info-hotel {
  display: grid;
  grid-template-columns: 140px  140px;
  gap: 17px 20px;
}

.hotel-price {
  color: #333333;
  text-align: right;
  margin: 0;
}

.hotel-more-button {
  padding: 8px 26px;
  margin: 0;
  max-width: 140px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  background-color: #756157;
  border-radius: 4px;
}

.hotel-favorit {
  padding: 8px 20px;
  margin: 0;
  max-width: 140px;
  font: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  background-color: #82b3d3;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.hotel-selection {
  padding: 8px 18px;
  margin: 0;
  max-width: 140px;
  font: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  background-color: #7db54f;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.hotel-rating {
  display: inline-block;
  border: none;
  background-color: #f2f2f2;
  color: #333333;
  margin: 0;
  padding: 8px 15px;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  border-radius: 4px;
}

.rating {
  margin: 0;
  padding: 0;
  max-width: 140px;
  height: 20px;
  background-image: url("../image/star.svg");
  background-repeat: repeat-x;
  background-size: 24px 17px;
  margin-top: 10px;
}

.one-star {
  width: 24px;
}

.two-stars {
  width: 48px;
}

.three-stars {
  width: 72px;
}

.four-stars {
  width: 96px;
}

.five-stars {
  width: 120px;
}

/*Пагинация*/
.pagination-wrapper {
  margin: 40px 70px 60px;
  padding-top: 39px;
  border-top: 1px solid #e6e6e6;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.pagination-link {
  display: block;
  width: 60px;
  height: 60px;
  padding: 11px 24px 12px 23px;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  border-radius: 4px;
}

.pagination-item:last-child .pagination-link {
  padding: 12px 19px 13px;
}

.pagination-option {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
}

.pagination-item {
  list-style-type: none;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-style {
  background: #82b3d3;
  border: 1px solid #82b3d3;
}

.pagination-style:hover,
.pagination-style:focus {
  background-color: #68a2ca;
  border: 1px solid #82b3d3;
}

.pagination-style:active {
  color: rgba(255, 255, 255, 0.3);
  background: #82b3d3;
}

.pagination-current {
  color: #000000;
  background-color: #f2f2f2;
}

/*Состояние кнопок*/

.button-brown:hover,
.button-brown:focus {
  background-color: #615048;
}

.button-brown:active {
  background: #756157;
  color: rgba(255, 255, 255, 0.3);
  opacity: 100%;
}

.button-blue:hover,
.button-blue:focus {
  background-color: #68a2ca;
  opacity: 100%;
}

.button-blue:active {
  background: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}

.button-green:hover,
.button-green:focus {
  background-color: #6c9e42;
}

.button-green:active {
  color: rgba(255, 255, 255, 0.3);
}

.button-brown:disabled,
.button-blue:disabled,
.button-green:disabled {
  background-color: #e5e5e5;
}

.button-reset:hover {
  opacity: 0.6;
}

.button-reset:focus {
  box-shadow: inset 0 0 0 3px #83b3d3;
}

.button-reset:active {
  color: rgba(255, 255, 255, 0.3);
}

.button-reset:disabled {
  opacity: 0.1;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

/*Модальное окно*/

.modal-container {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
  z-index: 1;
}

.modal {
  position: relative;
  margin: auto;
  padding: 65px 70px;
  background-color: #ffffff;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
}

.modal-search {
  width: 717px;
}

.modal-container-close {
  display: none;
}

.modal-close-button {
  position: absolute;
  padding: 0;
  top: 64px;
  right: 52px;
  width: 52px;
  height: 52px;
  background-color: #f2f2f2;
  background-image: url("../image/icon/close.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.modal-close-button:hover {
  background-color: #e6e6e6;
}

.modal-close-button:focus {
  background-color: #e6e6e6;
  outline: 3px solid #83b3d3;
}

.modal-close-button:active {
  outline: none;
  opacity: 0.3;
}

.modal-close-button:disabled {
  outline: none;
  opacity: 0.1;
}

.modal-title {
  margin: 0;
  padding-right: 60px;
  padding-bottom: 64px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.modal-date-container {
  display: grid;
  grid-template-columns: 119px 440px;
  align-items: baseline;
  column-gap: 18px;
}

.modal-date {
  font: inherit;
  width: 100%;
  padding: 12px 60px 12px 20px;
  font-weight: 700;
  line-height: 24px;
  background-color: #f2f2f2;
  background-image: url("../image/icon/calendar.svg");
  background-repeat: no-repeat;
  background-position: center right 22px;
  border: none;
  border-radius: 4px;
}

.modal-date:hover {
  background-color: #e6e6e6;
}

.modal-date:focus {
  background-color: #e6e6e6;
  outline: 3px solid #83b3d3;
}

.modal-date:active {
  box-shadow: inset 0 0 0 2px #000000;
  outline: none;
}

.modal-massage {
  margin: 0;
  margin-bottom: 19px;
  font-size: 16px;
  padding: 4px 20px;
  color: #333333;
}

.modal-massage-error {
  color: #ff5757;
}

.modal-guests-container {
  width: 577px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 48px;
  padding: 0;
}

.guests-number {
  display: flex;
  width: 244px;
  justify-content: space-between;
}

.guests-number:first-child {
  margin-right: 88px;
}

.modal-label {
  font: inherit;
  max-width: 120px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
}

.guests-number-wrapper {
  position: relative;
}

.button-less {
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url("../image/icon/minus.svg");
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 14px;
  left: 10px;
  border-radius: 4px;
  cursor: pointer;
}

.guests-input {
  width: 111px;
  font: inherit;
  font-weight: 700;
  text-align: center;
  margin: 0;
  padding: 0 28px;
  height: 48px;
  background-color: #f2f2f2;
  border: 0;
  border-radius: 4px;
  outline: none;
}

.button-more {
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url("../image/icon/plus.svg");
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 15px;
  left: 81px;
  border-radius: 4px;
  cursor: pointer;
}

.modal-tooltip-input {
  display: flex;
  position: relative;
  width: 137px;
  align-items: center;
}

.tooltip {
  position: absolute;
  top: 12px;
  left: 62px;
}

.tooltip-toggle {
  display: block;
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
}

.tooltip-text {
  position: absolute;
  top: 100%;
  left: 50%;
  width: 256px;
  margin-top: 15px;
  padding: 15px 18px 18px 22px;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #333333;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  transform: translateX(-50%);
  display: none;
  z-index: 1;
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}

.tooltip-text::after {
  content: "";
  display: block;
  position: absolute;
  top: -18px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 0;
  height: 0;
  border: 9px solid transparent;
  border-bottom: 9px solid #333333;
}

.modal-search-submit-button {
  display: inline-block;
  font: inherit;
  width: 100%;
  padding: 18px 18px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #82b3d3;
  border: none;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 10px;
  cursor: pointer;
}

.button-less:hover,
.button-more:hover {
  fill: #000000;
}

.button-less:focus,
.button-more:focus {
  outline: 3px solid #82b3d3;
  outline-offset: 2px;
  fill: #000000;
}

.button-less:active,
.button-more:active {
  fill: rgba(117, 97, 87, 0.3);
  outline: none;
}

.button-less:disabled,
.button-more:disabled {
  fill: #ffffff;
}
