@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  background-color: #F2F2F2;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-container {
  display: flex;
  flex-direction: column;
  width: 1200px;
  min-height: 100%;
  margin: 0 auto;
  background-color: #FFFFFF;
}

.main-page {
  flex-grow: 1;
}

/*Шапка*/

.navigation {
  display: flex;
  padding: 0 70px;
}

.navigation-header-logo {
  margin-right: 28px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-list .navigation-user-list {
  min-width: 44px;
  min-height: 64px;
}

.navigation-user-list {
  margin-left: auto;
}

.navigation-link {
  padding: 20px 16px;
  font-size: 20px;
  line-height: 16px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  text-decoration: none;
}

.button-user-link {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #756157;
}


/*Главная страница*/
.welcome-sedona {
  background-image: url("../image/background/spacebar.svg"), url("../image/background/background-welcom.jpg");
  background-position: center bottom, center;
  background-repeat: no-repeat, no-repeat;
  background-size: 100% auto;
  text-align: center;
  padding-top: 51px;
  padding-bottom: 82px;
}

.logo {
  display: block;
  margin: 0 auto;
}

/*Преимущества*/
.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none
}

.advantages-subitem {
  width: 400px;
  padding: 92px 85px 111px;
}

.advantages-item {
  width: 400px;
  text-align: center;
}

.advantages-big {
  display: flex;
  width: 100%;
}

.advantages-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding-top: 69px;
}

.advantages-info {
  padding-top: 103px;
  padding-bottom: 121px;
}

.advantages-subtitle {
  margin: 0;
  padding-bottom: 62px;
}

.description-title {
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: #333333;
  margin: 0;
  padding-top: 25px;
  padding-bottom: 90px;
}

.advantages-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.advantages-description {
  text-align: center;
}

.color-one {
  color: #FFFFFF;
  background-color: #82B3D3;
}

.color-second {
  background-color: rgba(131, 179, 211, 0.12);
}

.color-three {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-service {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.service-item {
  width: 400px;
  padding-top: 80px;
  padding-bottom: 81px;
}

.service-subitem {
  margin: 0;
  padding-top: 30px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.service-description-subitem {
  margin: 0;
  padding-top: 30px;
  text-align: center;
}

/*Поиск*/
.hotel-search {
  text-align: center;
  padding: 96px 304px;
}

.hotel-search-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}

.hotel-search-subitem {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  margin: 0;
  padding-top: 20px;
}

.hotel-search-container {
  padding-top: 54px;
}

.button-search-hotel {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #756157;
  padding: 8px 50px;
}


/*Подписка*/
.subscribe {
  padding: 96px 258px 104px;
  text-align: center;
}

.subscribe-main {
  text-align: center;
  background-image: url("../image/background/background-subscribe.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  color: #FFFFFF;
}

.subscribe-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}

.subscribe-subitem {
  font-size: 22px;
  line-height: 26px;
  margin: 0;
  padding-top: 20px;
}

.subscribe-button {
  font: inherit;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #82B3D3;
}

.subscribe-form {
  padding-top: 54px;
}

/*Подвал контакты*/
.main-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

.social-footer-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  list-style-type: none
}

.social-footer-item {
  width: 48px;
  height: 40px;
}

.footer-contact-phone {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.main-catalog-title {
  color: #FFFFFF;
  background-color: #333333;
  background-image: url("../image/background/background-catalog.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  min-height: 412px;
}

/*Каталог, фильтр*/
.breadcrumb {
  display: flex;
  padding: 0;
  margin-top: 8px;
  margin-bottom: 40px;
}

.catalog-hotel {
  margin-bottom: 70px;
}

.catalog-filter {
  display: flex;
  padding: 0;
}

.catalog-filter-list {
  list-style-type: none;
}

.catalog-button {
  display: flex;
  flex-direction: column;
}

.catalog-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  margin: 0;
  padding-top: 35px;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-transform: capitalize;
}

.catalog-filter-item {
  line-height: 23px;
}

.button-apply {
  font: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #82B3D3;
}

.button-reset {
  font: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

/*Карточки гостиниц*/
.catalog-sorting {
  display: flex;
  justify-content: space-between;
  padding: 50px 70px 40px;
}

.product-card-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}

.select-control {
  color: #333333;
}

.button-layout {
  width: 48px;
  height: 48px;
}

.hotel-card {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.card {
  width: 340px;
}

.hotel-card-link {
  display: block;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
}

.type-house {
  color: #333333;
}

.hotel-price {
  color: #333333;
  text-align: right;
}

.hotel-more-button {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
  background-color: #756157;
}

.hotel-favorit {
  font: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
  background-color: #82B3D3;
}

.hotel-selection {
  font: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
  background-color: #7DB54F;
}

.hotel-rating {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
}

/*Пагинация*/
.pagination {
  display: flex;
  padding: 0;
  margin: 80px 70px 60px;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  padding: 12px 25px 13px 24px;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
  background-color: #82B3D3;
}

.pagination-item:last-child .pagination-link {
  padding: 12px 19px 13px;
}

.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
}

.pagination-option {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #000000;
  background-color: #FFFFFF;
}

.pagination-item {
  list-style-type: none;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}
